/*=====RESET BROWSER=====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Open+Sans&display=swap');

body {
  width: 100%;
  color: #333;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-image: url('../img/sao-paulo-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* position: relative; */
}

/* .container{
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-columns: 1fr;
} */

.header {
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

.title {
  margin-bottom: 1rem;
  font-family: 'Cormorant Garamond', serif;
}

main {
  margin: 1.5rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 0.4rem;
}



.video {
  /*==EDIT==*/
  width: 100%;
  height: auto;
  padding: 1rem;
  /* display:contents; */
  

  
}

.video iframe {
  /*==EDIT==*/
  width: 100%;
  height: 20rem;
  
  
}

.flex {
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.content {
  margin: 1.5rem;
  
}
.content ol {
    padding-left: 3rem;
  }

/*=====FORMULARIO=====*/

.contact {
  margin: 1.5rem;
  
}

.contact form {
  color: rgb(0, 0, 0);
}
.contact fieldset {
  background-color: rgb(252, 249, 228);
}

.contact fieldset:hover {
  transition: 0.5s ease-in-out;
  cursor: context-menu;
  transform: scale(1.02);
  filter: brightness(120%);
}

/*=====FOOTER=====*/

footer {
  padding: 1.5rem;
  background: #adadad;
  background: rgb(245, 245, 250);
  background: linear-gradient(
    90deg,
    rgba(245, 245, 250, 1) 0%,
    rgba(93, 99, 114, 0.2) 100%
  );
}

footer p {
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.social-links {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.icon {
  width: 2rem;
  height: 2rem;
  margin: 0 20px;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
}

.icon img {
  height: 90%;
  margin: 0 auto;
}